<div class="container">
  <div class="titulos">
    <h1>Pedidos Generados</h1>
  </div>
  <div id="pedidos" class="container mt6">
    <div class="row">
      <div class="col-md-12 text-center">
        <table>
          <tbody>
          <tr>
            <th scope="col">Número de pedido</th>
            <th scope="col">Nombre y Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de pedido</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Estado</th>
          </tr>
          <tr *ngFor="let item of listaPedidos | async">
            <td>{{item.id}}</td>
            <td>{{item.nombresApellidos}}</td>
            <td>{{item.email}}</td>
            <td>{{item.fechaPedido}}</td>
            <td>{{item.fechaEntrega}}</td>
            <td>{{item.estado}}</td>
          </tr>
          <tr>
            <td>
            <td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
