<div class="titulos"> <h1>Registrar Producto</h1>
</div>
<form [formGroup]="productoForm" (ngSubmit)="crear()">
  <div class="row">
    <div class="col-sm-4">
      <input validar type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre del producto" class="form-control"
        formControlName="nombre">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <input validar type="text" id="descripcionProducto" name="descripcion" placeholder="Descripción producto"
             class="form-control" formControlName="descripcion">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <input validar type="text" id="imagenProducto" name="imagenProducto" placeholder="Url imagen del producto"
             class="form-control" formControlName="imagen">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <input validar type="text" id="precioProducto" name="precioProducto" placeholder="Precio del producto"
             class="form-control" formControlName="precio">
    </div>
  </div>
</form>
