.wrapper {
    display: flex;
    width: 100%;
}

a{
color:#8f8f8f;
font-size: 14px;
font-weight:500;

}
a:hover{
color: #0062cc;
}

#sidebar {
    border: 1px solid #e1e1e1;
    width: 20%;
    position: fixed;
    top: 95px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
}
